<div class="container">
  <div class="bg-img"></div>
  <div class="bg-text">
      <h1>Unlocking Exceptional Value in Pre-Owned Vehicles</h1>
      <p>Presenting Car Dealer - your trusted hub for top-notch yet budget-friendly pre-owned vehicles. With an unwavering dedication to customer contentment and an extensive array of automobiles, we strive to ensure your car purchasing journey is seamless and satisfying.</p>
      <div class="home-buttons">
          <button class="catalog-btn btn" routerLink="/offers">Catalog</button>
          <button class="about-btn btn" routerLink="/about">About us</button>
      </div>
  </div>

</div>